asgiref==3.11.0
certifi==2026.1.4
charset-normalizer==3.4.4
Django==5.2.10
django-crontab==0.7.1
django-phonenumber-field==8.4.0
djangorestframework==3.16.1
idna==3.11
phonenumbers==9.0.22
pillow==12.1.0
psycopg==3.3.2
requests==2.32.5
sqlparse==0.5.5
typing_extensions==4.15.0
urllib3==2.6.3
