{% load static %}
<div class="pb-ios">
    <!-- large footer -->
    <div class="adminuiux-footer has-adminuiux-sidebar mt-auto py-0">
        <div class="container py-4 py-lg-5">
            <div class="row mb-3">
                <div class="col-12 col-xxl-4 mb-3 mb-xxl-0">
                    <a class="style-none d-block mb-3 mb-lg-4" href="#">
                        <div class="row gx-3 gx-lg-4">
                            <div class="col-auto"><span class="logo-icon"><img src="{% static "img/logo.png" %}" class="width-50" alt=""></span></div>
                            <div class="col ps-0 align-self-center d-none d-sm-block">
                                <h4 class="text-theme-1 mb-0">WealthUIUX</h4>
                                <p class="text-secondary small">Best HTML Template</p>
                            </div>
                        </div>
                    </a>

                    <h3 class="text-secondary mb-3">#1 Creative &amp; Multipurpose HTML Template</h3>
                    <p class="text-secondary">WealthUIUX is creative and multipurpose template. You can use it for CRM, Business application, Intranet Application, Portal service and Many more.
                        It comes with unlimited possibilities and 10+ predefined styles which you can also mix up and create new style. Do support and spread a word for us. </p>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-xxl offset-xl-1 mb-3 mb-md-0">
                    <h5 class="mb-3 mb-lg-4">Main <span class="text-gradient">Dashboards</span></h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2">
                            <a class="nav-link px-0" href="#">Finance</a>
                        </li>
                        <li class="nav-item mb-2">
                            <a class="nav-link px-0" href="#">Network</a>
                        </li>
                        <li class="nav-item mb-2">
                            <a class="nav-link px-0" href="#">Inventory</a>
                        </li>
                        <li class="nav-item mb-2">
                            <a class="nav-link px-0" href="#">Social</a>
                        </li>
                        <li class="nav-item mb-2">
                            <a class="nav-link px-0" href="#">Project</a>
                        </li>
                        <li class="nav-item mb-2">
                            <a class="nav-link px-0" href="#">Learning</a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-xxl mb-3 mb-md-0">
                    <h5 class="mb-3 mb-lg-4">Creative <span class="text-gradient">Pages</span></h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2">
                            <a class="nav-link px-0" href="#">Calendar</a>
                        </li>
                        <li class="nav-item mb-2">
                            <a class="nav-link px-0" href="#">Email</a>
                        </li>
                        <li class="nav-item mb-2">
                            <a class="nav-link px-0" href="#">Explorer</a>
                        </li>
                        <li class="nav-item mb-2">
                            <a class="nav-link px-0" href="#">Need Support <i class="bi bi-heart-fill text-theme-1 theme-red"></i></a>
                        </li>
                        <li class="nav-item mb-2">
                            <a class="nav-link px-0" href="#" target="_blank">Download Now <i class="bi bi-arrow-up-right-square"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-md-4 col-xxl-3">
                    <p class="mb-3 mb-lg-4"><b>Main office:</b></p>
                    <p class="mb-1"><a href="https://adminuiux.com" target="_blank">www.adminuiux.com</a></p>
                    <p class="text-secondary mb-4">Test data 103909 Witamer CR, Niagara Falls, NY 14305, United States</p>

                    <div class="row gx-3 align-items-center mb-3">
                        <div class="col-auto"><i class="bi bi-clock text-theme-1 h4"></i></div>
                        <div class="col text-secondary">0441-215-518625<br><span>Mon - Sat, 9:00 am - 10:00pm</span></div>
                    </div>
                    <div class="row gx-3 align-items-center mb-3">
                        <div class="col-auto"><i class="bi bi-telephone text-theme-1 h4"></i></div>
                        <div class="col text-secondary">+1-000 000 100000</div>
                    </div>
                </div>
            </div>

            <div class="row gx-3 gx-lg-4 align-items-center">
                <div class="col-12 col-md-auto mb-4 mb-md-0">
                    <ul class="nav justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.facebook.com/adminuiux1/" target="_blank">
                                <i class="bi bi-facebook h5"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://twitter.com/admiinuiux" target="_blank">
                                <i class="bi bi-twitter h5"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://linkedin.com/company/adminuiux" target="_blank">
                                <i class="bi bi-linkedin h5"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.instagram.com/adminuiux/" target="_blank">
                                <i class="bi bi-instagram h5"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-md-auto ms-auto">
                    <ul class="nav justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <div class="row gx-3 gx-lg-4 align-items-center">
                                    <div class="col-auto">
                                        <i class="bi bi-microsoft h4"></i>
                                    </div>
                                    <div class="col">
                                        <p class="mb-0 fs-12 opacity-50">Get this on</p>
                                        <p>Microsoft Store</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <div class="row gx-3 gx-lg-4 align-items-center">
                                    <div class="col-auto">
                                        <i class="bi bi-play-fill h3"></i>
                                    </div>
                                    <div class="col">
                                        <p class="mb-0 fs-12 opacity-50">Get this on</p>
                                        <p>Google Play</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <div class="row gx-3 gx-lg-4 align-items-center">
                                    <div class="col-auto">
                                        <i class="bi bi-apple h4"></i>
                                    </div>
                                    <div class="col">
                                        <p class="mb-0 fs-12 opacity-50">Get this on</p>
                                        <p>App Store</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- standard footer -->
    <footer class="adminuiux-footer has-adminuiux-sidebar mt-auto">
        <div class="container-fluid">
            <div class="row gx-3 gx-lg-4">
                <div class="col-12 col-md col-lg py-2">
                    <span class="small">Copyright @2025, Creatively designed WealthUIUX by <a href="https://adminuiux.com" target="_blank" class="">Adminuiux</a> on Earth ❤️
                    </span>
                </div>
                <div class="col-12 col-md-auto col-lg-auto align-self-center">
                    <ul class="nav small">
                        <li class="nav-item"><a class="nav-link " href="#">Help</a></li>
                        <li class="nav-item opacity-50">|</li>
                        <li class="nav-item"><a class="nav-link " href="#">Terms of Use</a></li>
                        <li class="nav-item opacity-50">|</li>
                        <li class="nav-item"><a class="nav-link " href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>
<!-- theming action-->
<div class="position-fixed bottom-0 end-0 mx-2 my-3 z-index-5" id="fixedbuttons">
    <button class="btn btn-square btn-theme rounded-circle" type="button" data-bs-toggle="offcanvas" data-bs-target="#theming" aria-controls="theming"><i class="bi bi-palette"></i></button>
    <br>
    <button class="btn btn-theme btn-square mt-2 d-none rounded-circle theme-black" id="backtotop"><i class="bi bi-arrow-up"></i></button>
</div>

<!-- global script -->
{% comment %} <script src="assets/js/core/functions.js"></script>
<script src="assets/js/core/main.js"></script>
<script src="assets/js/core/responsive.js"></script>
<script src="assets/js/core/color-scheme.js"></script> {% endcomment %}