<div class="z-index-1 mt-auto pb-ios">
    <!-- standard index footer -->
    <footer class="adminuiux-footer mt-auto bg-theme-1 py-2">
        <div class="container-fluid text-center">
            <span class="small">Copyright @2025, <a href="https://adminuiux.com" target="_blank" class="text-white">by Wealthuiux</a> on Earth ❤️
            </span>
        </div>
    </footer>
</div>

<!-- theming action-->
<div class="position-fixed bottom-0 end-0 m-3 z-index-5 pb-ios" id="fixedbuttons">
    <button class="btn btn-square btn-link rounded-circle" type="button" data-bs-toggle="offcanvas" data-bs-target="#theming" aria-controls="theming"><i class="bi bi-palette"></i></button>
    <br>
    <button class="btn btn-link btn-square mt-2 d-none rounded-circle" id="backtotop"><i class="bi bi-arrow-up"></i></button>
</div>

<!-- global script -->
{% comment %} <script src="assets/js/core/functions.js"></script>
<script src="assets/js/core/main.js"></script>
<script src="assets/js/core/responsive.js"></script>
<script src="assets/js/core/color-scheme.js"></script> {% endcomment %}