{% extends 'base.html' %}
 {% load static %}
{% block content %}
    {% include "components/header/adminuiux-auth-header.html"  %}
    <div class="adminuiux-wrap">
        <main class="adminuiux-content">
        <!--Page body-->
        <div class="coverimg h-100 w-100 top-0 start-0 position-absolute z-index-0">
            <img src="{% static "img/background-image/backgorund-image-13.jpg" %}" alt="">
        </div>
        <div class="container-fluid">
            <div class="row justify-content-center minheight-dynamic" style="--mih-dynamic: calc(100vh - 145px - env(safe-area-inset-bottom) - env(safe-area-inset-top))">
            <div class="col-12 col-md-8 col-xl-6">
                <div class="h-100 py-3 px-md-3">
                <div class="row h-100 align-items-center justify-content-center">
                    <div class="col-12 col-sm-8 col-md-11 col-xl-11 col-xxl-10 login-box">
                    <form method="POST">
{% csrf_token %}

<div class="card adminuiux-card mb-2">
<div class="card-body">

<div class="text-center mb-4">
    <h1 class="mb-1 text-theme-1">Let's get started 👍</h1>
    <p class="text-secondary">Provide your few details</p>
</div>

<div class="form-floating mb-3">
    {{ form.name }}
    <label>Name</label>
</div>

<div class="form-floating mb-3">
    {{ form.email }}
    <label>Email Address</label>
</div>

<div class="form-floating mb-3">
    {{ form.phone }}
    <label>Phone Number</label>
</div>

<div class="form-floating mb-3">
    {{ form.address }}
    <label>Address</label>
</div>

<div class="form-floating mb-3">
    {{ form.dob }}
    <label>Date of Birth</label>
</div>
<div class="position-relative">
    <div class="form-floating mb-3">
        {{ form.password }}
        <label>Password</label>
    </div>
</div>

<button type="submit" class="btn btn-lg btn-theme w-100 mb-4">
    Sign up
</button>

<div class="text-center">
    Already have account?
    <a href="{% url 'login' %}">Login</a>
</div>

</div>
</div>
</form>

                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </main>
    </div>

<!-- themes -->
{% include "components/offcanvas/theming.html"  %}
<!-- footer -->
{% include "components/footer/adminuiux-auth-footer.html"  %}
<!-- Page Level js -->
<script src="{% static 'js/adminuiux/adminuiux-auth.js' %}"></script>
{% endblock content %}